@font-face {
	font-family: "Bellefair Regular";
	src: url("./public/Bellefair-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Barlow Condensed Regular";
	src: url("./public/BarlowCondensed-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Barlow Regular";
	src: url("./public/Barlow-Regular.ttf") format("truetype");
}

@custom-media --viewport-mobile (width < 699px);
@custom-media --viewport-tablet (width >= 700px);
@custom-media --viewport-desktop (width >= 1000px);

:root {
	--c-black: 11, 13, 23;
	--c-blue: 208, 214, 249;
	--c-white: 255, 255, 255;

	--ff-body: "Barlow Regular", sans-serif;
	--ff-heading-primary: "Bellefair Regular", serif;
	--ff-heading-secondary: "Barlow Condensed Regular", sans-serif;

	--fz-xs: 14px;
	--fz-sm: 16px;
	--fz-base: 1rem;
	--fz-md: 20px;
	--fz-lg: 32px;
	--fz-xl: 44px;
	--fz-xxl: 56px;
	--fz-xxxl: 68px;

	@media (--viewport-tablet) {
		--fz-md: 28px;
		--fz-lg: 32px;
		--fz-xl: 56px;
		--fz-xxl: 100px;
		--fz-xxxl: 150px;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	padding: unset;
	margin: unset;
	min-height: 100vh;
	position: relative;
	background-color: rgb(var(--c-black));
	color: rgb(var(--c-blue));
	font-family: var(--ff-body);
	font-size: var(--fz-base);
	line-height: 2;
}

.text-xxxxl,
.text-xxxl,
.text-xxl,
.text-xl,
.text-lg,
.text-subheading1,
.text-subheading2,
.text-nav {
	text-transform: uppercase;
	font-weight: normal;
}

.text-xxxxl,
.text-xxxl,
.text-xxl,
.text-xl {
	font-family: var(--ff-heading-primary);
	line-height: 1.2;
	color: rgb(var(--c-white));
}

.text-xxxxl {
	font-size: var(--fz-xxxl);
}

.text-xxxl {
	font-size: var(--fz-xxl);
}

.text-xxl {
	font-size: var(--fz-xl);
}

.text-xl {
	font-size: var(--fz-lg);
}

.text-lg {
	font-family: var(--ff-heading-secondary);
	font-size: var(--fz-base);
	letter-spacing: 0.168em;
	color: rgb(var(--c-blue));
	line-height: 2;
}

.text-subheading1 {
	font-family: var(--ff-heading-primary);
	font-size: var(--fz-md);
	color: rgb(var(--c-white));
}

.text-subheading2 {
	font-family: var(--ff-heading-secondary);
	font-size: var(--fz-xs);
	letter-spacing: 0.168em;
	color: rgb(var(--c-white));
}

.text-nav {
	text-decoration: none;
	font-family: var(--ff-heading-secondary);
	font-size: var(--fz-sm);
	letter-spacing: 0.168em;
	color: rgb(var(--c-white));
}

a {
	color: inherit;
}

.l-section-wrapper {
	--content-columns: 1fr;
	--page-gap-size: 10vw;

	display: grid;
	grid-template-columns:
		[full-start] var(--page-gap-size) [wrapper-start] var(--content-columns)
		[wrapper-end] var(--page-gap-size) [full-end];

	@media (--viewport-tablet) {
		--page-gap-size: 7vw;
	}

	@media (--viewport-desktop) {
		--page-gap-size: 14vw;
	}
}

.l-center-children {
	display: flex;
	align-items: center;
	justify-content: center;
}

.l-pagebg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
