@import url("./reset.css");

@font-face {
	font-family: "Bellefair Regular";
	src: url("./public/fonts/Bellefair-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Barlow Condensed Regular";
	src: url("./public/fonts/BarlowCondensed-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Barlow Regular";
	src: url("./public/fonts/Barlow-Regular.ttf") format("truetype");
	font-display: swap;
}

@custom-media --viewport-mobile (width < 699px);
@custom-media --viewport-tablet (width >= 768px);
@custom-media --viewport-desktop (width >= 1024px);

:root {
	--c-black: 11, 13, 23;
	--c-blue: 208, 214, 249;
	--c-white: 255, 255, 255;

	--ff-body: "Barlow Regular", sans-serif;
	--ff-heading-primary: "Bellefair Regular", serif;
	--ff-heading-secondary: "Barlow Condensed Regular", sans-serif;

	--fz-50: 0.9rem;
	--fz-100: 1rem;
	--fz-200: 1rem;
	--fz-300: 1.75rem;
	--fz-400: 2.5rem;
	--fz-500: 3.25rem;
	--fz-600: 4rem;

	@media (--viewport-tablet) {
		--fz-200: 2rem;
		--fz-300: 4rem;
		--fz-400: 6rem;
		--fz-500: 8rem;
		--fz-600: 10rem;
	}
}

body {
	color: rgb(var(--c-blue));
	font-family: var(--ff-body);
	font-size: var(--fz-100);
	line-height: 1.7;
}

body.no-scroll {
	overflow: hidden;
}

.text-xxxxl,
.text-xxxl,
.text-xxl,
.text-xl,
.text-lg,
.text-subheading1,
.text-subheading2,
.text-nav {
	text-transform: uppercase;
	font-weight: normal;
}

.text-xxxxl,
.text-xxxl,
.text-xxl,
.text-xl,
.text-subheading1 {
	font-family: var(--ff-heading-primary);
	color: rgb(var(--c-white));
}

.text-xxxxl,
.text-xxxl,
.text-xxl,
.text-xl {
	line-height: 1.1;
}

.text-xxxxl {
	font-size: var(--fz-600);
}

.text-xxxl {
	font-size: var(--fz-500);
}

.text-xxl {
	font-size: var(--fz-400);
}

.text-xl {
	font-size: var(--fz-300);
}

.text-lg {
	font-family: var(--ff-heading-secondary);
	font-size: var(--fz-200);
	letter-spacing: 0.168em;
	color: rgb(var(--c-blue));
	line-height: 1.7;
}

.text-subheading1 {
	font-size: var(--fz-200);
}

.text-subheading2,
.text-nav {
	font-family: var(--ff-heading-secondary);
	font-size: var(--fz-50);
	color: rgb(var(--c-white));
}

.text-subheading2 {
	letter-spacing: 0.168em;
}

.text-nav {
	text-decoration: none;
	letter-spacing: 0.168em;
}

.page-section-container {
	--page-gap-size: 10vw;

	@media (width > 1025px) {
		--page-gap-size: 14vw;
	}
}

.page-bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(var(--c-black));
}
