.wrapper {
	padding-block-start: 4vh;
	padding-block-end: 8vh;
	row-gap: 6vh;

	@media (--viewport-tablet) {
		padding-block-end: unset;
		row-gap: 4vh;
	}

	@media (--viewport-desktop) {
		--content-columns: max-content 3vw 1fr;
		grid-template-rows: auto 1fr auto;
		row-gap: unset;
	}
}

.headingWrapper {
	grid-column: wrapper;

	@media (--viewport-tablet) {
		justify-content: flex-start;
	}

	@media (--viewport-desktop) {
		grid-row-start: 1;
		align-self: flex-start;
	}
}

.heading {
	display: inline;
	color: rgb(var(--c-white));
}

.headingNumber {
	padding-inline-end: 0.5em;
	font-weight: bold;
	color: rgba(var(--c-white), 0.25);
}

.tabs {
	display: contents;
}

.tabList {
	height: fit-content;
	grid-column: wrapper;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1rem;

	@media (--viewport-desktop) {
		grid-column-end: span 1;
		grid-row-start: 3;
		justify-content: flex-start;
		padding-block-start: 8vh;
		padding-block-end: 8vh;
	}
}

.tabContentWrapper:not([hidden]) {
	display: contents;
}

.tab {
	--button-size: 44px;

	background-color: unset;
	border: unset;
	width: var(--button-size);
	height: var(--button-size);
	background-image: radial-gradient(
		circle,
		rgb(var(--c-white)) 20%,
		transparent 20%
	);
	opacity: 18%;
	border-radius: 50%;
	cursor: pointer;
}

.tab[aria-selected="true"] {
	opacity: 100%;
}

@media (hover: hover) {
	.tab[aria-selected="false"]:hover {
		opacity: 50%;
	}
}
