.wrapper {
	width: 70vw;
	height: 100vh;
	backdrop-filter: blur(10px);
	position: absolute;
	top: 0;
	right: 0;
	padding-inline: 10vw;
}

.buttonClose {
	background: unset;
	border: unset;
	padding: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	position: absolute;
	top: 5vh;
	right: 5vw;
}

.navMenu {
	padding-top: 20vh;
}

.navList {
	padding-inline-start: unset;
	margin-block: unset;
	list-style-type: none;
	counter-reset: list-item -1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	row-gap: 1em;
}

.navListItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	counter-increment: list-item;
}

.navListItem::before {
	font-weight: bold;
	padding-inline-end: 0.6em;
	content: counter(list-item, decimal-leading-zero);
}

.navList a {
	text-decoration: none;
	text-transform: uppercase;
	min-width: 44px;
	min-height: 44px;
	display: flex;
	align-items: center;
}
