.tabs {
	grid-column: wrapper;
	display: grid;
	row-gap: 6vh;
}

.tabList {
	grid-row-start: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 1em;
	row-gap: 1.5em;
}

.tabContentWrapper:not([hidden]) {
	display: contents;
}

.tab {
	background: unset;
	border: unset;
	position: relative;
	min-width: 44px;
	min-height: 44px;
	color: rgb(var(--c-blue));
	font-family: var(--ff-heading-secondary);
	font-size: var(--fz-50);
	text-transform: uppercase;
	letter-spacing: 0.168em;
	cursor: pointer;
}

.tab[aria-selected="true"]::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0px;
	bottom: -0.5em;
	background-color: rgb(var(--c-white));
}

@media (hover: hover) {
	.tab[aria-selected="false"]:hover::after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		position: absolute;
		left: 0px;
		bottom: -0.5em;
		background-color: rgba(var(--c-white), 0.5);
	}
}
