.wrapper {
	display: none;

	@media (--viewport-tablet) {
		--nav-padding-block: 5vw;

		display: flex;
		align-items: center;
		grid-column: span 2 / full-end;
		grid-row: 1 / span 3;
		justify-self: flex-end;
		height: 100%;
		padding-block: var(--nav-padding-block);
		padding-inline: var(--page-gap-size);
		background-color: rgb(var(--c-white), 0.04);
		backdrop-filter: blur(20px);
	}

	@media (--viewport-desktop) {
		--nav-padding-block: 2vw;

		grid-column-start: span 3;
		padding-inline: 8vw;
	}
}

.desktopHeaderLine {
	display: none;

	@media (--viewport-desktop) {
		display: block;
		grid-column: wrapper-start / span 2;
		grid-row-start: 2;
		width: 100%;
		height: 1px;
		background-color: rgba(var(--c-white), 0.25);
		position: relative;
		z-index: 1;
	}
}

.navList {
	margin: unset;
	padding: unset;
	display: flex;
	flex-direction: row;
	column-gap: 1.5em;
	list-style-type: none;
	counter-reset: list-item -1;

	@media (--viewport-desktop) {
		column-gap: 2.5em;
	}
}

.navListItem {
	@media (--viewport-desktop) {
		counter-increment: list-item;
	}
}

.navLink {
	position: relative;
}

.navLink::before {
	@media (--viewport-desktop) {
		font-weight: bold;
		padding-inline-end: 0.6em;
		content: counter(list-item, decimal-leading-zero);
	}
}

.navLink[aria-current="page"]::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0px;
	bottom: calc(var(--nav-padding-block) * -1);
	background-color: rgb(var(--c-white));
}

@media (any-pointer: fine) {
	.navLink[aria-current="false"]:hover::after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		position: absolute;
		left: 0px;
		bottom: calc(var(--nav-padding-block) * -1);
		background-color: rgba(var(--c-white), 0.5);
	}
}
