.photoWrapper {
	width: 70%;
	max-width: 250px;
	justify-self: center;

	@media (--viewport-tablet) {
		max-width: 350px;
	}

	@media (--viewport-desktop) {
		max-width: 400px;
		width: 100%;
		grid-row: 1 / -1;
		align-self: center;
	}
}

.bioWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.8em;

	@media (--viewport-desktop) {
		grid-column-start: 2;
		align-items: flex-start;
	}
}

.detailsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2em;

	@media (--viewport-tablet) {
		flex-direction: row;
		justify-content: space-around;
		column-gap: 3em;
	}

	@media (--viewport-desktop) {
		grid-column-start: 2;
		justify-content: flex-start;
		column-gap: 5em;
	}
}

.distanceWrapper,
.timeWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5em;

	@media (--viewport-desktop) {
		align-items: flex-start;
	}
}

.divider {
	width: 100%;
	height: 1px;
	background-color: rgb(56, 59, 75);
}
