.photoWrapper,
.headingWrapper,
.descriptionWrapper,
.distanceWrapper,
.timeWrapper {
	grid-column: wrapper;
	text-align: center;
}

:where(.photoWrapper, .headingWrapper, .descriptionWrapper, .distanceWrapper, .timeWrapper)
	> * {
	margin-inline: auto;
}
