.wrapper {
	--content-columns: 1fr minmax(44px, 1fr);
	--header-padding-block: 5vh;

	padding-block-start: var(--header-padding-block);
	align-items: center;

	@media (--viewport-tablet) {
		--content-columns: 1fr 4fr;

		--header-padding-block: 0px;
	}

	@media (--viewport-desktop) {
		--content-columns: 1fr 4vw auto;
		--header-padding-block: 4vh;
	}
}

.logoWrapper {
	grid-column-start: wrapper-start;
	display: flex;

	@media (--viewport-tablet) {
		grid-row-start: 2;
	}

	@media (--viewport-desktop) {
		grid-column-start: full-start;
		justify-content: center;
	}
}

.logoSVG {
	height: 2.5em;
	aspect-ratio: 1;

	@media (--viewport-tablet) {
		height: 3em;
	}
}
