.wrapper {
	--content-columns: 1fr minmax(44px, 1fr);
	--header-padding-inline-start: 5vh;

	padding-block-start: var(--header-padding-inline-start);
	align-items: center;

	@media (--viewport-tablet) {
		--content-columns: 1fr 4fr;
	}
}

.logoWrapper {
	grid-column-start: wrapper-start;
	display: flex;
}

.logoSVG {
	height: 2em;
	aspect-ratio: 1;

	@media (--viewport-tablet) {
		height: 4em;
	}
}
