.detailsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.role {
	margin-block-end: 0.5rem;
}

.name {
	margin-block-end: 1.3rem;
}

.bio {
	text-align: center;
}

.photoWrapper {
	width: 100%;
	grid-row-start: 1;
	text-align: center;
	border-block-end: 1px solid #383b4b;

	@media (--viewport-tablet) {
		border-block-end: unset;
	}
}

.photo {
	min-height: 175px;
	height: 25vh;
}
