.wrapper {
	grid-column-end: wrapper-end;
	display: flex;
	justify-content: flex-end;

	@media (--viewport-tablet) {
		display: none;
	}
}

.hamburgerToggle {
	background: unset;
	border: unset;
	min-width: 44px;
	min-height: 44px;
}

.hamburgerToggleClose {
	position: absolute;
	right: 10vw;
	top: 5vh;
}

.hamburgerWrapper,
.hamburgerOverlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.hamburgerWrapper {
	z-index: 2;

	@media (--viewport-tablet) {
		display: none;
	}

	@media (prefers-reduced-motion: no-preference) {
		--transition-duration: 0.3s;
		transition: visibility var(--transition-duration) ease-in;
	}
}

.hamburgerWrapper[aria-hidden="true"] {
	visibility: hidden;
}

.hamburgerDialog {
	width: 70%;
	height: 100%;
	background-color: rgba(var(--c-black), 0.3);
	backdrop-filter: blur(10px);
	position: absolute;
	top: 0;
	right: 0;
	padding-inline: 10vw;

	@media (prefers-reduced-motion: no-preference) {
		transition: right var(--transition-duration) ease-in;
	}
}

.hamburgerWrapper[aria-hidden="true"] > .hamburgerDialog {
	right: -100%;
}

.navList {
	margin-block-start: 20vh;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	counter-reset: list-item -1;
}

.navListItem {
	counter-increment: list-item;
}

.navLink {
	position: relative;
}

.navLink::before {
	font-weight: bold;
	padding-inline-end: 0.6em;
	content: counter(list-item, decimal-leading-zero);
}
