.wrapper {
	padding-block-start: 4vh;
	padding-block-end: 8vh;
	row-gap: 6vh;

	@media (--viewport-desktop) {
		--content-columns: auto 5vw minmax(auto, 25rem) 5vw 1fr;
		grid-template-rows: auto 1fr auto 1fr;
		row-gap: 2vh;
	}
}

.headingWrapper {
	grid-column: wrapper;
	text-align: center;

	@media (--viewport-tablet) {
		text-align: start;
	}
}

.heading {
	display: inline;
	color: rgb(var(--c-white));
}

.headingNumber {
	padding-inline-end: 0.5em;
	font-weight: bold;
	color: rgba(var(--c-white), 0.25);
}

.tabs {
	display: contents;
}

.tabList {
	grid-column: wrapper;
	display: flex;
	justify-content: center;
	column-gap: 2em;

	@media (--viewport-desktop) {
		grid-column-end: span 1;
		grid-row-start: 3;
		flex-direction: column;
		row-gap: 2.5rem;
	}
}

.tabContentWrapper:not([hidden]) {
	display: contents;
}

.tab {
	min-width: 44px;
	min-height: 44px;
	border-color: rgba(var(--c-white), 0.25);
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	background-color: transparent;
	color: rgb(var(--c-white));
	font-family: var(--ff-heading-primary);
	font-size: var(--fz-300);
	cursor: pointer;

	@media (--viewport-tablet) {
		width: 4rem;
		height: 4rem;
	}
}

.tab[aria-selected="true"] {
	color: rgb(var(--c-black));
	background-color: rgb(var(--c-white));
}

@media (hover: hover) {
	.tab[aria-selected="false"]:hover {
		border-color: rgb(var(--c-white));
	}
}
