.wrapper {
	row-gap: 4vh;
	padding-block-start: 4vh;
	padding-block-end: 8vh;
}

.headingWrapper {
	grid-column: wrapper;
	text-align: center;
}

.heading {
	display: inline;
}

.headingNumber {
	padding-inline-end: 0.5em;
	font-weight: bold;
	color: rgba(var(--c-white), 0.25);
}
