.wrapper {
	row-gap: 4vh;
	padding-block-start: 4vh;
	padding-block-end: 8vh;
}

.headingWrapper {
	grid-column: wrapper;
	text-align: center;
}

.heading {
	display: inline;
}

.headingNumber {
	padding-inline-end: 0.5em;
	font-weight: bold;
	color: rgba(var(--c-white), 0.25);
}

.tabs {
	grid-column: wrapper;
	display: grid;
	row-gap: 6vh;
}

.tabList {
	grid-row-start: 2;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(44px, auto));
	justify-content: center;
	column-gap: 1.5em;
	row-gap: 1em;
}

.tabContentWrapper:not([hidden]) {
	display: contents;
}

.tab {
	background: unset;
	border: unset;
	position: relative;
	min-width: 44px;
	min-height: 44px;
	color: rgb(var(--c-blue));
	font-family: var(--ff-heading-secondary);
	font-size: var(--fz-50);
	text-transform: uppercase;
	letter-spacing: 0.168em;
	cursor: pointer;
}

.tab[aria-selected="true"]::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background-color: rgb(var(--c-white));
}

@media (hover: hover) {
	.tab[aria-selected="false"]:hover::after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		position: absolute;
		left: 0px;
		bottom: 0px;
		background-color: rgba(var(--c-white), 0.5);
	}
}
